[submodule "worker"]
	path = worker
	url = https://github.com/ajuna-network/worker.git
[submodule "Ajuna"]
	path = Ajuna
	url = https://github.com/ajuna-network/Ajuna.git
	branch = ab/integration-runner
